* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

header {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

.filmes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  gap: 20px;
}

.filme-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  width: 1000px; 
  /* inicial: width 200 e height 200 */
  height: 300px;
  text-align: left;
  padding: 15px;
  transition: transform 0.2s;
}

.filme-card:hover {
  transform: scale(1.03);
}

.filme-card img {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.filme-card h2 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.filme-card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  background-color: #e50914;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #b00610;
}

/* NavBar e Nav com Responsividade */
.navbar {
  background-color: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  flex-wrap: wrap;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu-menor {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #e50914;
}

/* Responsividade da Nav-Bar */
@media (max-width: 768px) {
  .menu-menor {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    display: none;
    margin-top: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    padding: 10px 0;
    border-top: 1px solid #333;
  }
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}